body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f3f3f3;
}

header {
    background: #222;
    padding: 20px;
    color: white;
    text-align: center;
}

section {
    padding: 20px;
}

.resume-box {
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

pre {
    white-space: pre-wrap;
    font-size: 15px;
}

.project {
    background: white;
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
}
